img{
    width: 70px;
    height: 40px;
  }
  ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
  background-color:rgb(199, 192, 192);
}
.andre{
  padding: 10px 10px;
}
.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1{
  font-size: 68px;
}
#realbox-microphone{
  width: 20px;
  height: 20px;
}